.cantor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5ch;
    padding: .5ch;
    background-color: rgba(222, 232, 252, 0.87);
    margin: 2ch;
    border-radius: 1ch;
    justify-content: center;
}

