.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;  
}

.titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 10%;
  height: 10ch;
  /* background-color: rgb(113, 147, 151); */
}

.description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 0.85rem;
  max-width: 90%;
  min-height: 40ch;
  background-color: rgb(221, 231, 235);
  border-radius: 1ch;
  margin: 5ch auto;
}

.fotos {
  display: flex;  
  margin: 5ch;
  min-width: 40ch;
  max-width: 30%;
  min-height: 30ch;
  max-height: 20%;
  border-radius: 5ch;
  border: 1px solid;
  border-color: rgb(172, 184, 189);;
  background-color: rgb(237, 239, 241);
}

.fotos img {   
  margin: auto auto;
  width: 95%;
  height: 20ch;
  min-height: 85%;
  border-radius: 1ch;
  /* border: 1px solid; */

}

.texto {   
  background-color: rgb(37, 45, 49);
  margin: 5ch 0;
  max-width: 28%;
  border-radius: 1ch;
  /* border: 1px solid; */
}

.informacoes {   
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(100, 106, 109);
  margin: 0 2ch;
  margin-top: 6ch;
  margin-bottom: 25ch;
  max-height: 20ch;  
  border-radius: 1ch;
  /* border: 1px solid; */
}

.informacoes p {   
  overflow: hidden;
  max-height: 20ch;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

}
