.login {
    display: block;
    padding: 15px;
    background-color: rgb(51, 72, 94);
    margin: 15em auto;
    width: 80%;
    border-radius: 1ch;
}

.loginmenu {
    display: flex;
    justify-content: center;
    color: #FFF;    
    border-radius: 1ch;
    padding: 10px;
    background-color: rgb(26, 34, 37);
    margin: 2em 15em;
}

.loginbody {
    display: flex;
    justify-content: center;
    color: #FFF;    
    border-radius: 1ch;
    padding: 10px;
    margin: 1em 15em;
}

.loginbody label {
    margin-right: 20px;
    margin-left: 20px;
}

.loginbotoes {
    display: flex;
    justify-content: center;
    color: #FFF;    
    border-radius: 1ch;
}

.loginbotoeslink {
    text-decoration: none;
    color: #111;
}

.loginbotoes button {
    color: rgb(53, 70, 90);    
    border-radius: 1ch;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    width: 95px;
}