.page {
    display: flex;
    background-color: rgba(218, 233, 243, 0.719);
    padding: 1px 1px;
    margin: .1ch;
    border-radius: 1ch;

}

.pageitem {
    color: rgb(23, 36, 53);
    border: .5px solid rgba(105, 118, 128, 0.719);
    border-radius: .35ch;
    margin: 0 1ch;
}
